---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ðŸ” Dashboard">
  <main class="max-w-xl mx-auto py-12">
    <h1 class="text-3xl font-bold">Dashboard</h1>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </main>
</Layout>
