---
import Layout from "../layouts/Layout.astro";
---

<Layout title="🔓 Index">
  <main class="max-w-xl mx-auto py-12">
    <h1 class="text-3xl font-bold">URL Shortener</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus saepe
      obcaecati nam impedit? Obcaecati dicta sint nemo reiciendis quas rem amet
      aspernatur, a voluptates placeat id. Aperiam quaerat nisi eius. Nobis odio
      non modi, ipsam laudantium sapiente consectetur dignissimos sint inventore
      nam ex aperiam neque assumenda nulla sed iusto ipsum. Quos impedit iure
      dignissimos veniam deleniti cupiditate facere repellendus distinctio.
    </p>

    <div class="mt-12">
      <button class="bg-blue-500 text-white px-4 py-2 rounded">
        Iniciar sesión
      </button>
    </div>

    <p class="mt-12">
      Si ya iuniciaste sesión, ingresa a tu <a
        class="underline text-sky-300"
        href="/dashboard">dashboard</a
      >.
    </p>
  </main>
</Layout>
